/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/* colors */

:root {

    /* preferably use these variables so colors are more uniform and changing page colors is easier */
    /* examples of how to use a variable are in newsfeed.css */
    /* header & footer colors */

    --nav-main-color: #1B4965;
    --nav-hover-color: #18415A;
    --highlight-color: #FFF1A6;
    --logo-color: #CAE9FF;
    --nav-text-color: #CAE9FF;
    --nav-drop-shadow-color: #444444;

    /* page content colors */
    
    --body-text-color: #FFFFFF;
    --page-background-color: #545454;
    --content-layer-1-color: #758090;
    --content-layer-2-color: #636D7C;
    --content-box-drop-shadow-color: #313131;
    --button-color: #5FA8D3;
    --button-hover-color: #3f8db9;
}

/* Navigation */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: var(--nav-main-color);
    padding: 5px;
    z-index: 1;
}

nav a {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

nav ul {
    display:flex;
    list-style: none;
    justify-content: center;
    padding-top: 5px;
}

nav li a {
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    display: inline-block;
}

nav a {
    color: var(--nav-text-color);
}

nav ul li a:hover {
    color: var(--highlight-color);
    text-shadow: 0px 5px 10px var(--drop-shadow-main-color);
    background-color: var(--nav-hover-color);
    border-radius: 1em;
    transition: 300ms;
}

#logo a {
    color: var(--logo-color);
    padding-left: 1em;
}

#profile {
    padding-right: 1em;
    text-decoration: none;
}

#profile a img {
    border-radius: 50%;
    position: relative;
    top: 5px;    
    padding: 0 10px;
}

#profile a:hover {
    color: var(--highlight-color);
    background-color: var(--nav-hover-color);
    border-radius: 1em;
    transition: all 300ms;
}

a.active {
    color: var(--highlight-color);
    text-shadow: 0px 5px 10px var(--drop-shadow-main-color);
    background-color: var(--nav-hover-color);
    border-radius: 1em;
}

/* Page */

main {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 2em;
    background-color: var(--page-background-color);
}

/* Footer */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer ul {
    padding-left: 15px;
    display: flex;
    list-style: none;
    background-color: var(--nav-main-color);
    color: var(--nav-text-color);
}

footer ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 50%;
}