/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    background-image: url(../images/backgrounds/clouds.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* colors */

:root {

    /* preferably use these variables so colors are more uniform and changing page colors is easier */
    /* examples of how to use a variable are in newsfeed.css */
    /* header & footer colors */

    --nav-main-color: #1B4965;
    --nav-hover-color: #18415A;
    --highlight-color: #FFF1A6;
    --logo-color: #CAE9FF;
    --nav-text-color: #CAE9FF;
    --nav-drop-shadow-color: #44444499;

    /* page content colors */
    
    --body-text-color: #FFFFFF;
    --page-background-color: #545454;
    --content-layer-1-color: #758090;
    --content-layer-2-color: #636D7C;
    --content-box-drop-shadow-color: #31313199;
    --button-color: #5FA8D3;
    --button-hover-color: #3f8db9;
}

/* Navigation */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    background-color: var(--nav-main-color);
    z-index: 1;
}

nav ul {
    display:flex;
    list-style: none;
    justify-content: center;
}

nav a {
    font-size: 1.75em;
    font-weight: bold;
    color: var(--nav-text-color);
    padding: 0.75rem 1rem;
    margin: 1rem 0.5rem;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    color: var(--highlight-color);
    text-shadow: 0px 5px 10px var(--drop-shadow-main-color);
    background-color: var(--nav-hover-color);
    border-radius: 1em;
    transition: 300ms;
}

#logo-dropdown {
    display: flex;
    align-items: center;
    color: var(--logo-color);
}

#profile {
    display: flex;
    align-items: center;
    justify-content: end;
}

a.active {
    color: var(--highlight-color);
    text-shadow: 0px 5px 10px var(--drop-shadow-main-color);
    background-color: var(--nav-hover-color);
    border-radius: 1em;
}

/* Page */

main {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 94px auto 38px auto;
    padding: 2em;
    background-color: var(--page-background-color);
    box-shadow: 5px 0 20px var(--content-box-drop-shadow-color), -5px 0 10px var(--content-box-drop-shadow-color);
}

main p {
    line-height: 1.5em;
}

/* Footer */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer ul {
    padding-left: 15px;
    display: flex;
    list-style: none;
    background-color: var(--nav-main-color);
    color: var(--nav-text-color);
}

footer ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 50%;
}

/* scalability */

#dropdown {
    display: none;
    font-size: x-large;
    padding: 2ch;
    color: var(--nav-text-color);
    background: none;
    border: none;
}

#dropdown:hover {
    cursor: pointer;
    color: var(--highlight-color);
    transition: color 300ms;
}

@media only screen and (max-width: 1200px) {
    nav {
        font-size: small; 
    }
    main {
        margin: 81px auto 38px auto;
    }
  }

@media only screen and (max-width: 940px) {
    #dropdown {
        display: flex;
    }
    #logo-dropdown a {
        display: none;
    }
    nav ul {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .hidden {
        display: none;
    }
    main {
        margin: 71px auto 38px auto;
    }
}