.header{
    display: block;
}

#title {
    display: flex;
    justify-content: center;
}

#title h1 {
    padding: 0 25px 25px 25px;
    color: var(--nav-text-color);
    text-shadow: 0px 5px 5px var(--content-box-drop-shadow-color);
}

#game-image div{
    height: 328px;
}

#game-image img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
}

#game-image iframe {
    color: var(--body-text-color);
    background-color: var(--content-layer-2-color);
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 1em;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
    background-color: white;
}

.text-box {
    color: var(--body-text-color);
    background-color: var(--content-layer-2-color);
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 1em;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
    height: max-content;
}

.text-box p {
    margin: 20px 0;
}

.text-box a {
    text-decoration: none;
    color: var(--body-text-color);
    background-color: var(--button-color);
    font-weight: 900;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
    padding: 10px;
    border-radius: .75em;
    margin-left: 15px
}

.text-box a:hover {
    color: var(--highlight-color);
    background-color: var(--button-hover-color);
    transition: 300ms;
}

.rank {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--content-layer-2-color);
    width: 100%;
    height: max-content;
    padding: 15px;
    border-radius: 1em;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
}

.rank img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.ranking {
    text-decoration: none;
    font-size: small;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first {
    color: rgb(141, 139, 1);
}

#second {
    color: rgb(46, 0, 105);
}

#third {
    color: rgb(0, 2, 90);
}



#help-grid {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr;
    height: 75%;
}

.page {
    width: 100%;
    max-width: 900px;
    margin: auto;
    color: rgb(236, 226, 228);
}

/* featured post */

#activity-snippet {
    background-color: var(--content-layer-2-color);
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
}

#activity-title {
    font-size: 1.5em;
    font-weight: 900;
    color: var(--nav-text-color);
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#activity-title:hover {
    color: var(--highlight-color);
    transition: 300ms;
}

.post {
    display: grid;
    grid-template-columns: 1fr 7fr;
    color: var(--body-text-color);
    background-color: var(--content-layer-1-color);
    border-radius: 1em;
    margin: 2em 0;
    padding: 1.5em;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
    line-height: 150%;
    font-weight: 400;
}

.post > a {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.post a img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: solid 2px transparent;
}

a img:hover {
    border: solid 2px rgb(39, 39, 39);
    transition: 300ms;
    opacity: 70%;
}

.name {
    font-weight: bold;
    font-size: x-large;
    color: var(--body-text-color);
    text-decoration: none;
    margin: 0em 0.3em;
}

a.name:hover {
    color: var(--highlight-color);
    transition: all 300ms;
}

.user-post {
    margin: 1em 0.5em;
}

.buttons{
    display: flex;
    font-weight: bold;
    margin: 1em 0;
}

.buttons a {
    text-decoration: none;
    margin: 0 1em 0 0;
    padding: 1ch;
    color: var(--body-text-color);
}

.buttons a:hover{
    background-color: var(--content-layer-2-color);
    border-radius: 1em;
    transition: all 300ms;
    box-sizing: border-box;
}

.buttons a:hover i{
    color: var(--highlight-color);
    border-radius: 1em;
    transition: all 300ms;
}

.buttons span{
    margin: 0.5em;
}

/* #logo img{
    height: 65px;
    
} */

/* *{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

/*linear-gradient(rgba(4,9,30,0.7)rgba(4,9,30,0.7)),*/

/* .header{
    min-height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box{
    width: 90%;
    color: rgb(46, 29, 29);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: firebrick; 
}

.here-btn{
    display: inline-block;
    text-decoration: none;
     color: rgb(54, 33, 33);
    border: 1px solid rgb(54, 38, 38); 
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.here-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}
*/











