.header{
    display: block;
}

#title {
    display: flex;
    justify-content: center;
}

#title h1 {
    padding: 0 25px 25px 25px;
    color: var(--nav-text-color);
    text-shadow: 0px 5px 5px var(--content-box-drop-shadow-color);
}

#game-image div{
    height: 328px;
}

#game-image img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
}

#game-image iframe {
    color: var(--body-text-color);
    background-color: var(--content-layer-2-color);
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 1em;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
    background-color: white;
}

.text-box {
    color: var(--body-text-color);
    background-color: var(--content-layer-2-color);
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 1em;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
    height: max-content;
}

.text-box p {
    margin: 20px 0;
}

.text-box a {
    text-decoration: none;
    color: var(--body-text-color);
    background-color: var(--button-color);
    font-weight: 900;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
    padding: 10px;
    border-radius: .75em;
    margin-left: 15px
}

.text-box a:hover {
    color: var(--highlight-color);
    background-color: var(--button-hover-color);
    transition: 300ms;
}

.rank {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--content-layer-2-color);
    width: 100%;
    height: max-content;
    padding: 15px;
    border-radius: 1em;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
}

.rank img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.ranking {
    text-decoration: none;
    font-size: small;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first {
    color: rgb(141, 139, 1);
}

#second {
    color: rgb(46, 0, 105);
}

#third {
    color: rgb(0, 2, 90);
}



#help-grid {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr;
}

.page {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    color: rgb(236, 226, 228);
}

/* featured post */

#activity-snippet {
    background-color: var(--content-layer-2-color);
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
}

#activity-title {
    font-size: 1.5em;
    font-weight: 900;
    color: var(--nav-text-color);
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#activity-title:hover {
    color: var(--highlight-color);
    transition: 300ms;
}

.post {
    display: grid;
    grid-template-columns: 1fr 7fr;
    color: var(--body-text-color);
    background-color: var(--content-layer-1-color);
    border-radius: 1em;
    margin: 2em 0;
    padding: 1.5em;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
    line-height: 150%;
    font-weight: 400;
}

.post > a {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.post a img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: solid 2px transparent;
}

a img:hover {
    border: solid 2px rgb(39, 39, 39);
    transition: 300ms;
    opacity: 70%;
}

.name {
    font-weight: bold;
    font-size: x-large;
    color: var(--body-text-color);
    text-decoration: none;
    margin: 0em 0.3em;
}

a.name:hover {
    color: var(--highlight-color);
    transition: all 300ms;
}

.user-post {
    margin: 1em 0.5em;
}

.buttons{
    display: flex;
    font-weight: bold;
    margin: 1em 0;
}

.buttons a {
    text-decoration: none;
    margin: 0 1em 0 0;
    padding: 1ch;
    color: var(--body-text-color);
}

.buttons a:hover{
    background-color: var(--content-layer-2-color);
    border-radius: 1em;
    transition: all 300ms;
    box-sizing: border-box;
}

.buttons a:hover i{
    color: var(--highlight-color);
    border-radius: 1em;
    transition: all 300ms;
}

.buttons span{
    margin: 0.5em;
}











