main {
    display: grid;
    justify-content: center;
;
}

main #title {
    display: flex;
    justify-content: center;
    padding: 5%;
    margin: 10%;
    width: 50%;
    border: black solid 3px;
    
}

main ul li {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    padding: 25px;
    margin: 15px;
    border: black solid 3px;
    background-color: rgb(108, 126, 136);
    border-radius: 0.75em;
}

#first {
    background-color: rgb(227, 213, 164);
}

#second {
    background-color: rgb(164, 137, 211);
}

#third {
    background-color: rgb(154, 177, 238);
}