#title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#title h1 {
    padding: 25px;
    color: #CAE9FF;
    text-shadow: 0px 5px 5px #444444;
}

main ul {
    background-color: var(--content-layer-1-color);
    padding: 50px;
    border-radius: 0.75em;
}

main ul li {
    display: grid;
    justify-content: center;
    list-style: none;
    margin-bottom: 25px;
    padding: 20px;
    background-color: var(--content-layer-2-color);
    color: var(--body-text-color);
    border: rgb(68, 68, 68) solid 3px;
    border-radius: 0.75em;
    box-shadow: 0px 5px 5px #444444;
}

#first {
    background-color: rgb(227, 213, 164);
    border: rgb(137, 138, 82) solid 5px;
    color: rgb(141, 139, 1);
    margin-bottom: 50px;
}

#second {
    background-color: rgb(164, 137, 211);
    border: rgb(108, 82, 138) solid 5px;
    color: rgb(46, 0, 105);
    margin-bottom: 50px;
}

#third {
    background-color: rgb(154, 177, 238);
    border: rgb(82, 90, 138) solid 5px;
    color: rgb(0, 2, 90);
    margin-bottom: 50px;
}