main div, h1 {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 25px
}

main div a {
    display: block;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    justify-content: center;
}