.newsfeed h1  {
    display: flex;
    justify-content: center;
    color: var(--nav-text-color);
    text-shadow: 0px 7px 10px var(--content-box-drop-shadow-color);
    font-size: xx-large;
    cursor: default;
}

.newsfeed #sorting {
    display: flex;
    justify-content: end;
    color: var(--body-text-color);
}

.newsfeed #sorting label {
    font-weight: 900;
    display: flex;
    align-items: center;
    padding: 0ch 1ch;
}

.newsfeed #sorting select {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    color: var(--body-text-color);
    background-color: var(--button-color);
    padding: 1ch;
    border: solid 2px transparent;
    border-radius: 1em;
}

.newsfeed #sorting select:hover, #sorting select:focus {
    background-color: var(--button-hover-color);
    border: solid 2px #2c5e7a;
    cursor: pointer;
    transition: 300ms;
}

/* post creation */

#post-creation {
    margin-top: 1rem;
    color: var(--body-text-color);
    background-color: var(--content-layer-1-color);
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
}

.newsfeed textarea {
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    resize: none;
    padding: 1em;
    width: 100%;
    border-radius: 1em;
    outline: none;
    color: var(--body-text-color);
    background-color: var(--content-layer-2-color);
    border: none;
}

::placeholder{
    color: var(--body-text-color);
}

#post-btn-container{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.newsfeed #make-new-post {
    color: var(--body-text-color);
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    background-color: var(--button-color);
    padding: 1ch 5ch 1ch 5ch;
    border-radius: 1em;
    cursor: pointer;
    border: solid 2px transparent;
}

.newsfeed #make-new-post:hover {
    color: var(--highlight-color);
    background-color: var(--button-hover-color);
    border: solid 2px #2c5e7a;
    transition: all 300ms;
}


/* posts */

.newsfeed .post-container {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: var(--body-text-color);
}

.newsfeed .thread {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 1rem;
    background-color: var(--content-layer-1-color);
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
}

.newsfeed .post {
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 1rem 1rem;
}


.newsfeed .img-container img {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
    height: 120px;
    width: 120px;
}

.newsfeed .img-container img:hover {
    cursor: pointer;
    border: solid 2px rgb(39, 39, 39);
    transition: 300ms;
    opacity: 70%;
}

.newsfeed .post-content {
    display: flex;
    flex-direction: column;
}

.newsfeed .username {
    font-weight: bolder;
    margin-bottom: 1rem;
}

.newsfeed .username:hover {
    cursor: pointer;
    text-decoration: underline;
}

.newsfeed .post-text {
    margin-bottom: 1rem;
}

.newsfeed .post-btns {
    display: flex;
    flex-direction: row;
    font-weight: 700;
}

.newsfeed .like-container > *, .newsfeed .reply-container i {
    margin-right: 0.5ch;
}

.newsfeed .like-container, .newsfeed .reply-container {
    padding: 1ch;
}

.newsfeed .like-container:hover, .newsfeed .reply-container:hover {
    cursor: pointer;
    background-color: var(--content-layer-2-color);
    border-radius: 1rem;
}

.newsfeed .like-container:hover i, .newsfeed .reply-container:hover i {
    color: var(--highlight-color);
}

.newsfeed .reply {
    background-color: var(--content-layer-2-color);
}

.newsfeed .reply .like-container:hover, .newsfeed .reply .reply-container:hover {
    cursor: pointer;
    background-color: var(--content-layer-1-color);
    border-radius: 1rem;
}

/* scalability */

@media only screen and (max-width: 800px) {
    .newsfeed {
        padding: 0.5em;
        font-size: small;
    }

    .newsfeed .img-container img {
        height: 100px;
        width: 100px;
    }

  }

  @media only screen and (max-width: 400px) {
    .newsfeed .img-container img {
        height: 50px;
        width: 50px;
    }
  }