main h1  {
    display: flex;
    justify-content: center;
    color: #CAE9FF;
    text-shadow: 0px 5px 5px #444444;
    font-size: xx-large;
    margin-top: 1em;
}
#sorting {
    display: flex;
    justify-content: end;
    color: var(--body-text-color);
}
/* posts */
.post {
    display: grid;
    grid-template-columns: 1fr 7fr;
    color: var(--body-text-color);
    background-color: var(--content-layer-1-color);
    border-radius: 1em;
    margin: 2em 0;
    padding: 1em;
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
}
.post a img {
    border-radius: 50%;
}
.name {
    font-weight: bold;
    font-size: x-large;
    color: var(--body-text-color);
    text-decoration: none;
}
a.name:hover{
    color: var(--highlight-color);
    transition: all 300ms;
}
.user-post{
    margin-top: 1em;
    margin-bottom: 1em;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 90%;
    font-weight: bold;
}
.buttons a {
    text-decoration: none;
    color: var(--body-text-color);
}
.buttons a:hover{
    color: var(--highlight-color);
    transition: all 300ms;
}
.reply {
    display: grid;
    grid-template-columns: 1fr 7fr;
    border-radius: 1em;
    background-color: var(--content-layer-2-color);
    margin: 1em 1em;
    padding: 1em;
}
/* post creation */
textarea {
    resize: none;
    padding: 1em;
    width: 98%;
    border-radius: 1em;
    outline: none;
    color: var(--body-text-color);
    background-color: var(--content-layer-2-color);
    border: none;
}
::placeholder{
    color: var(--body-text-color);
}
#post-button {
    position: relative;
    left: 92%;
    color: var(--body-text-color);
    background-color: var(--button-color);
    padding-top: 1ch;
    padding-bottom: 1ch;
    padding-left: 2ch;
    padding-right: 2ch;
    border-radius: 1em;
    border: none;
    cursor: pointer;
}
#post-button:hover {
    background-color: var(--button-hover-color);
}