.resources {
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.resources #support {
    display: block;
    justify-self: center;
    grid-column: span 2;
    margin-bottom: 2em;
    width: max-content;
}

.resources #support h1 {
    margin-top: 0.75em;
}

.resources #support a {
    text-shadow: 0px 5px 5px var(--content-box-drop-shadow-color);
    color: var(--nav-text-color);
}

.resources #links a:hover, #support a:hover {
    color: var(--highlight-color);
    background-color: var(--content-box-drop-shadow-color);
    transition: 300ms;
    border-radius: .75em;
}

.resources a {
    border-radius: 0.75em;
    width: max-content;
    padding: 10px;
    margin: 40px 0;
}

.resources #links {
    grid-template-rows: max-content;
    align-content: center;
    background-color: var(--content-layer-1-color);
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
    border-radius: .75em;
    height: max-content;
}

.resources #links a {
    color: var(--body-text-color);
    background-color: var(--content-layer-2-color);
    box-shadow: 0px 10px 3px var(--content-box-drop-shadow-color);
    width: max-content;
    margin-left: 50px;
}

.resources #links a, #support {
    display: flex;
    justify-content: center;
    list-style: none;
}

.resources #links a, #support a {
    text-decoration: none;
    height: max-content;
    width: 80%;
}

.resources #videos {
    display: grid;
    justify-content: center;
}

.resources #videos iframe {
    border-radius: 1em;
    margin-bottom: 20px;
}