main {
    background-color: rgb(84, 84, 84);
}

main div {
    background-color: rgb(117, 128, 144);
}

main div a, main h1 {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 25px;
}

main div a, main h1 a {
    text-decoration: none;
    color: rgb(206, 206, 245);
    box-shadow: 0px 5px 5px #444444;
}

main a {
    border:rgb(56, 69, 141) 2px solid;
    border-radius: 0.75em;
}

main h1 a {
    background-color: rgb(104, 133, 187);
    padding: 5px 15px;
}

main div a {
    display: inline-flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    background-color: rgb(108 , 126, 136);
    width: auto;
}