main h1 {
    display: flex;
    justify-content: center;
    margin: 200px 0 15px 0;
    color: var(--nav-text-color);
    text-shadow: 0px 5px 5px var(--content-box-drop-shadow-color);
    font-size: xx-large;
}

main h6 {
    display: flex;
    justify-content: center;
    margin: 1em 0 15px 0;
    color: var(--nav-text-color);
    text-shadow: 0px 5px 5px var(--content-box-drop-shadow-color);
    font-size: xx-large;
}

h6 a {
    text-decoration: none;
    color: var(--nav-text-color);
    background-color: var(--content-layer-2-color);
    padding: 20px 30px;
    margin-top: 1em;
    border-radius: 1em;
}

a:hover {
    color: var(--highlight-color);
    background-color: #2c2c2c;
    transition: 300ms;
    text-shadow: 0px 5px 5px var(--content-box-drop-shadow-color);
}