main h1 {
    display: flex;
    justify-content: center;
    margin: 200px 0 15px 0;
    color: var(--nav-text-color);
    text-shadow: 0px 5px 5px #444444;
    font-size: xx-large;
}

main h6 {
    display: flex;
    justify-content: center;
    margin: 1em 0 15px 0;
    color: var(--nav-text-color);
    text-shadow: 0px 5px 5px #444444;
    font-size: xx-large;
}

h6 a {
    text-decoration: none;
    color: var(--nav-text-color);
    padding: 10px;
}

a:hover {
    color: #FFF1A6;
    background-color: #2c2c2c;
    transition: 300ms;
    border-radius: .75em;
    text-shadow: 0px 5px 5px #444444;
}

label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
}

input [
    type='submit'
],

label {
    margin-top: 1rem;
}