/* main div h1 {
    margin: 1em;
}

main div {
    display: grid;
    justify-content: center;
    margin-top: 5em;
}

main form {
    background-color: var(--content-layer-2-color);
    padding: 20px;
    border-radius: 1em;
    width: max-content;
    box-shadow: 0px 5px 5px var(--content-box-drop-shadow-color);
}

main h1 {
    margin: 0 0 15px 0;
    display: flex;
    justify-content: center;
    color: var(--nav-text-color);
    text-shadow: 0px 5px 5px var(--content-box-drop-shadow-color);
    font-size: xx-large;
}

main h2 {
    color: var(--nav-text-color);
    text-shadow: 0px 5px 5px var(--content-box-drop-shadow-color); 
    margin: 20px 0;
}

main h2 a {
    text-decoration: none;
    color: var(--nav-text-color);
    padding: 10px;
}

main h2 a:hover {
    color: var(--highlight-color);
    background-color: #2c2c2c;
    transition: 300ms;
    border-radius: .75em;
    text-shadow: 0px 5px 5px var(--content-box-drop-shadow-color);
}

label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
    margin-top: 1rem;
}

input[type='submit'] {
    padding: 1ch;
    font-weight: 900;
    background-color: var(--button-color);
    color: var(--nav-text-color);
    border: 0px;
    box-shadow: 0px 5px 5px var(--content-box-drop-shadow-color);
}
input[type='submit']:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
    color: var(--highlight-color);
}

input {
    border: none;
    border-radius: 1em;
    width: 1fr;
    padding: 1ch;
    margin: 5px;
    box-shadow: 0px 5px 5px var(--content-box-drop-shadow-color);
} */

/* new css */

.sign-in {
    color: var(--body-text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sign-in h1 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: var(--nav-text-color);
}

.sign-in label {
    font-size: 1.5rem;
    font-weight: bold;
}


.sign-in form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 300px;
    background-color: var(--content-layer-1-color);
    box-shadow: 0px 10px 10px var(--content-box-drop-shadow-color)
}

.sign-in form > * {
    margin: 0.5rem;
}

.sign-in form > input {
    padding: 1ch;
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 5px 5px var(--content-box-drop-shadow-color);
}

.sign-in input[type="submit"] {
    font-weight: bold;
    color: var(--body-text-color);
    background-color: var(--button-color);
}

.sign-in input[type="submit"]:hover {
    cursor: pointer;
    transition: background-color 300ms;
    background-color: var(--button-hover-color);
}

.sign-in a {
    font-weight: bold;
    text-decoration: none;
    color: var(--body-text-color);
}

.sign-in a:hover {
    transition: color 300ms;
    color: var(--highlight-color);
    text-decoration: underline;
}