main h1 {
    margin: 1em 0 15px 0;
    display: flex;
    justify-content: center;
    color: #CAE9FF;
    text-shadow: 0px 5px 5px #444444;
    font-size: xx-large;
}

main div h2 {
    color: #CAE9FF;
    text-shadow: 0px 5px 5px #444444;
}

label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
    margin-top: 1rem;
}